#managerOverlay {
  position: fixed;
  height: 100vh;
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 5;
  cursor: pointer;
}

#managerOverlayInfo{
  background-color: white;
  padding: 10px;
  width: 45%;
  height: 80%;
}

#managerOverlayMessages {
  background-color: white;
  height: 80%;
  padding: 10px;
  width: 45%;
}

#managerOverlayLoadedMessages {
  overflow-y: auto;
  height: 90%;
}

.row {
  z-index: 1;
}

#staffOptions {
  z-index: 2;
}

#changeStaffBtn {
  text-decoration: underline;
  color: blue
}

.unassignedTable {
  height: auto!important;
}

.unassignedRow {
  background-color: #D38A88
}

.unassignedRow:nth-of-type(odd) {
  background-color: #B34642;
}

.unassignedRow:nth-of-type(odd) > .unassignedCell{
  color: white;
}

.unassignedRow:nth-of-type(odd) > td > #staffOptions{
  color: black;
}

.tableWrapper {
  background-color: #15304C;
  height: auto;
}

.assignedRow {
  background-color: #61837D;
}

.assignedRow:nth-of-type(odd) {
  background-color: #23360E;
}

.assignedRow:nth-of-type(odd) > td{
  color: white;
}

#staffOptions{
  color: black;
}

.unassignedRow > Select {
  overflow: visible;
}

.unassignedTable {
  z-index: 1 !important;
}

.assignedTable {
  z-index: 0 !important;
}

.unassignedTable #staffoptions > div:nth-child(3) > div {
  background-color: white;
  position: fixed;
  z-index: 10;
}

.unassignedTable #staffoptions {
  position: relative;
  width: 139px;
}

.unassignedTable  #staffoptions > div:nth-child(3) >*{
  position: fixed;
  z-index: 10;
  background-color: white;
}

.unassignedTable div[id*='react-select'] {
  z-index: 10;
}

.assignedTable #staffoptions > div:nth-child(3) > div {
  background-color: white;
  position: relative;
  z-index: 10;
}

.assignedTable #staffoptions {
  position: relative;
  width: 139px;
}

.assignedTable #staffoptions > div:nth-child(3) > * {
  background-color: white;
  position: fixed;
  z-index: 10;
  color: black;
}

.unassignedTable div[id*='react-select'] {
  z-index: 10;
}
.assignedTable th{
  z-index: 1 !important;
}

.extrarow {
  height: 80px;
}

tr {
  height: 40px !important;
}
tr td{
  height: auto !important;
}

.descriptionCell {
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}