#managerOverlay {
  position: fixed;
  height: 100vh;
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 5;
  cursor: pointer;
  }

#managerOverlayInfoContainer {
  padding: 10px;
  min-width: 20rem;
  max-width: 60rem;
  border-radius: 10px;
  background-color: white;
}

#managerOverlayInfo{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #A4C1F5;
  border: solid black 3px;
  height: 90%
}




.row {
  z-index: 1;
}


#changeStaffBtn {
  text-decoration: underline;
  color: blue
}

.unassignedRow:nth-of-type(odd) {
  background-color: #fdafad;
}

.unassignedRow:nth-of-type(odd) > td > #staffOptions{
  color: black;
}

.tableWrapper {
  background-color: #15304C;
  height: auto;
}

.assignedRow:nth-of-type(odd) {
  background-color: #7fcea0;
}


.unassignedTable #staffoptions {
  position: relative;
  width: 139px;
}

.assignedTable #staffoptions {
  position: relative;
  width: 139px;
}


.unassignedTable div[id*='react-select'] {
  z-index: 10;
}

.assignedTable th{
  z-index: 1 !important;
}

.extrarow {
  height: 120px;
}

.descriptionCell {
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}