#managerOverlay {
  position: fixed;
  height: 100vh;
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 5;
  cursor: pointer;
}

#managerOverlayInfo{
  background-color: white;
  padding: 10px;
  width: 45%;
  height: 80%;
}

#managerOverlayMessages {
  background-color: white;
  height: 80%;
  padding: 10px;
  width: 45%;
}

#managerOverlayLoadedMessages {
  overflow-y: auto;
  height: 90%;
}

.row {
  z-index: 1;
}

#staffOptions {
  z-index: 2;
}

#changeStaffBtn {
  text-decoration: underline;
  color: blue
}

.unassignedRow {
  background-color: #D38A88
}

.unassignedRow:nth-of-type(odd) {
  background-color: #B34642;
}

.unassignedRow:nth-of-type(odd) > .unassignedCell{
  color: white;
}

.unassignedRow:nth-of-type(odd) > td > #staffOptions{
  color: black;
}

.tableWrapper {
  background-color: #15304C;
  height: auto;
}

.assignedRow {
  background-color: #61837D;
}

.assignedRow:nth-of-type(odd) {
  background-color: #23360E;
}

.assignedRow:nth-of-type(odd) > td{
  color: white;
}

#staffOptions{
  color: black;
}

.MuiTableContainer-root {
  height: 900px;
}