.workorder-table-container {
    margin: 10px;
}

.table-container {
    margin-top: 10px!important;
    width:80%!important;
    margin: 0 auto;
    height: auto;
    max-height: 600px;
    overflow: visible;
}

.search-workorder-field {
    width:80%;
  }

#unopened {
    background-color: rgb(162, 21, 150);
}

#inprogress {
    background-color: rgb(245, 238, 37);
}

.arrow-filter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.unread-table-rows:nth-of-type(even) {
    background-color: rgb(182, 129, 139);
}

.progress-table-rows:nth-of-type(even) {
    background-color: rgba(218, 184, 15, 0.975);
}

.completed-table-rows:nth-of-type(even) {
    background-color: rgba(18, 181, 97, 0.818);
}

