.workorder-table-container {
    margin: 10px;
}

.table-container {
    margin-top: 10px!important;
    width:80%!important;
    margin: 0 auto;
    height: 600px;
}

.search-workorder-field {
    width:80%;
  }

#unopened {
    background-color: rgb(162, 21, 150);
}

#inprogress {
    background-color: rgb(245, 238, 37);
}

/* .tableHeader {
    text-align: center;
} */