.workorder-container {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}

.workorder-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.close-workorder-btn {
    width: 10%;
}

.workorder-description {
    text-align: start;
}

.workorder-details {
    display: flex;
    justify-content: space-around;
}

.comments-container {
    margin: 5px;
    
}

