.workorder-container {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 85vh;
    width: 70%;
    margin: 0 auto;
    padding: 3px;
    background-color: #A4C1F5;
}

.workorder-title {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly!important;
    align-items: center;
    margin-top: 15px;
}

.close-workorder-btn {
    width: 10%;
    text-transform: capitalize!important;
    background: #D5C586!important;
    color: white!important;
}


.wo-description-content {
    background: white;
    border-radius: 10px;
    padding: 10px;
    width: 70%;
    height: 100px;
    margin: 0 auto;
    overflow-y: auto;
    word-break: break-word;
}

.completed {
    background: #61837D;
    color: white;
}

.default-status {
    background: #D5C586;
    color: white;
}

.comment-header {
    text-align: center;
}

.comment-container {
    margin: 5px;
    background-color: white;
}

#description-workorder {
    font-weight: 600;
    align-self: center;
    text-align: center;
}

#status-workorder {
    font-weight: 600;
    align-self: center;
    text-align: center;
    padding: 8px;
    border-radius: 10px;
    
}

.workorder-details {
    width: 100%;
    padding-left: 10px;
}

.status-updates {
    color: white;
    font-weight: bold;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
}

.status-updates span {
    font-size: .8rem;
}

#status-workorder,
#wo-title,
.close-workorder-btn {
    margin: 0 25px!important;
}

.comment-input {
    background-color: #A4C1F5;
}

#description-workorder {
    margin-top:0px;
}