#landingadmin {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#landingToggle {
    display: flex;
    flex-direction: row;
}