#landingadmin {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#landingToggle {
    margin-bottom: 15px;
}

#landingContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

#landingContent input {
    margin: 5px;
}

.toggleAuth {
    cursor: pointer;
    color: rgb(23, 152, 200);
    text-decoration: underline;
}