#addProperty {
    float: right;
}

#overlay {
    position: fixed;
    height: 100vh;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    
  }
  #text{
    padding: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background-color: #61837D;
    height: 70vh;
  }

  #addProperty {
    display: flex;
    flex-direction: column;
  }

  .closebtn {
    position: absolute;
    top: 5%;
    right: 15%;
    font-size: 30px;
    color: white
  }

.workorderId {
    cursor: pointer;
}

#addManager {
  margin-bottom: 0px;
}