.navbar {
    background: #A4C1F5;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 21px;
    margin: 0px;
}

.header-props {
    text-transform: capitalize;
}
