.add-comment-container {
    display: flex;
    flex-direction: row;
    margin-top: 5px;

}

.comment-input {
    width: 75%;
}

.add-comment-container button {
    width: 25%
}

.addBtn-comment {
    background-color: #588b4b!important;
    text-transform: capitalize!important;
    color: white!important;
    border: none!important;
}