.comment-container {
    width: 100%;
}

.me {
    text-align: right;
}

.comments {
    text-align: start;
    overflow-y: auto;
    height: 250px;
}

.my-comment,
.their-comment {
    margin: 5px;
}

.my-comment {
    background-color: rgb(62, 184, 13);
    border-radius: 100px;
    padding: 3px 8px;
    display: inline-block;
    justify-content: flex-start;
    color: white;
}

.their-comment {
    background-color: rgb(14, 105, 158);
    border-radius: 100px;
    padding: 3px 8px;
    display: inline-block;
    color: white;
}

.comment-timestamp {
    font-size: 10px;
}