.comment-container {
    width: 100%;
}

.comments {
    text-align: start;
    height: 500px;
    overflow-y: scroll;
    width: 100%;
}

.my-comment {
    background-color: rgb(72, 255, 0);
    border-radius: 100px;
    padding: 3px 8px;
    display: inline-block;
}

.their-comment {
    background-color: rgb(0, 162, 255);
    border-radius: 100px;
    padding: 3px 8px;
    display: inline-block;
}